@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 127, 29, 29; /* Tailwind red-900 */
  --accent-rgb: 245, 158, 11; /* Tailwind yellow-500 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
